---
import Layout from "../../../layouts/Layout.astro";
import { getWorksDetail, getWorks } from "../../../libs/microcms";
import type { Works } from "../../../libs/microcms";
import Sheet from "../../../components/Sheet.astro";
import Section from "../../../components/Section.astro";
import PageTitle from "../../../components/PageTitle.astro";
import ArrowLink from "../../../components/ArrowLink.astro";

// 詳細ページの全パスを取得
export async function getStaticPaths() {
  const response = await getWorks({ fields: ["id"] });

  return response.contents.map((content: Works) => ({
    params: {
      worksId: content.id,
    },
  }));
}

// 施工実績の詳細情報を取得
const { worksId } = Astro.params;
const works = await getWorksDetail(worksId as string);
---

<Layout title={`${works.title} - 施工実績`} commonjs="./js/common.js">
  <Sheet>
    <PageTitle eng="">{works.title}</PageTitle>
    <Section>
      <div class="flex flex-col items-center">
        <div class="w-full max-w-[720px]">
          <img
            src={works.thumbnail?.url}
            width={works.thumbnail?.width}
            height={works.thumbnail?.height}
            alt=""
            class="inline-block rounded-xl"
          />

          <p set:html={works.body} class="mt-6 text-justify" />

          <div class="block w-full mt-6 text-right">
            <ArrowLink href="/works">施工実績一覧へ戻る</ArrowLink>
          </div>
        </div>
      </div>
    </Section>
  </Sheet>
</Layout>
