---
import Layout from "../../layouts/Layout.astro";
import Sheet from "../../components/Sheet.astro";
import { getWorks } from "../../libs/microcms";
import { Image } from "astro:assets";
import formatDate from "../../utils/formatDate";
import Section from "../../components/Section.astro";
import PageTitle from "../../components/PageTitle.astro";

const response = await getWorks({
  fields: ["id", "thumbnail", "title", "body", "date"],
});

let showAll = false;
---

<Layout title="Works" commonjs="./js/common.js">
  <Sheet>
    <PageTitle>Works</PageTitle>
    <Section>
      <div class="text-center"></div>
      <ul
        class="grid grid-cols-1 md:grid-cols-2 justify-items-center gap-8 js-works-list"
      >
        {
          response.contents.map((content: any, index: number) => (
            <li
              class={`flex flex-col gap-2 max-w-[460px] ${
                index >= 4 ? "hidden js-hiddenArticle" : ""
              }`}
            >
              <a href={`/works/${content.id}`} class="flex flex-col gap-1">
                <Image
                  src={content.thumbnail?.url + "?w=600&h=400"}
                  width={content.thumbnail?.width}
                  height={content.thumbnail?.height}
                  alt=""
                  class="rounded-xl h-[240px] sm:h-[300px] object-cover"
                />
                <h2 class="mt-3 font-bold text-lg">{content.title}</h2>

                <p class="text-xs text-gray-600 tracking-wider">
                  {formatDate(content.date)}
                </p>
                <div
                  set:html={content.body}
                  class="mt-2 text-sm [&>p]:line-clamp-4 overflow-hidden leading-6"
                />
              </a>
            </li>
          ))
        }
      </ul>

      {
        response.contents.length > 4 && (
          <button
            type="button"
            class="block mt-10 mx-auto w-[200px] py-3 text-white bg-green-700 hover:bg-green-800 duration-300 border rounded-lg js-load-more"
          >
            See more
          </button>
        )
      }
    </Section>
  </Sheet>
</Layout>

<script>
  import "../../../public/js/works.js";
</script>
